body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.App {
    text-align: center;
    color: hsla(270,14.531692384000001%,0%,0.84);
    background-color: rgb(252, 250, 255);
  }
  
  .App-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 6vmin);
  }

  .loading {
    margin-top: 0;
  }

  .price {
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-block-start: 0.45em;
    margin-block-end: 0.45em;
  }
  
  .made-with-love {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 16px;
  }

  .last-updated {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    font-size: 16px;
  }
  
  a {
    color: hsla(270,14.531692384000001%,0%,0.84);
    text-decoration: none;
  }
  
  a:hover { 
    text-decoration: underline; 
  }